<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar - VolunteerVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body class="ingresar">
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="VolunteerVision Logo">
            <span class="company-name">VolunteerVision</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Proyectos Activos</a></li>
                <li><a href="#">Recomendaciones</a></li>
                <li><a href="#">Buscar Voluntariados</a></li>
            </ul>
            <div class="header-right">
                <button class="login-btn" onclick="window.location.href='/logout'">Cerrar Sesión</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Bienvenido!</h1>
            <section class="proyectos-activos">
                <h2>Proyectos Activos</h2>
                <div class="proyecto">
                    <h3>Ayuda Refugio de animales</h3>
                    <p>Ubicación: Quito, Ecuador</p>
                    <p>Fecha: 16/08/2024</p>
                    <button class="completar-btn">Completar</button>
                    <button class="eliminar-btn">Eliminar</button>
                </div>
            </section>
            <section class="recomendaciones">
                <h2>Recomendaciones</h2>
                <div class="proyecto">
                    <h3>Ayuda Refugio de animales</h3>
                    <p>Ubicación: Quito, Ecuador</p>
                    <p>Fecha: 16/08/2024</p>
                    <button class="info-btn">Más información</button>
                    <button class="aplicar-btn">Aplicar</button>
                </div>
            </section>
            <section class="buscar-voluntariados">
                <h2>Buscar Voluntariados</h2>
                <input type="text" placeholder="Búsqueda">
            </section>
            <aside class="estadisticas">
                <h2>Tus Estadísticas</h2>
                <p>Proyectos Completos: 2</p>
                <p>Proyectos Activos: 1</p>
            </aside>
    </main>
    </div>
    <footer id="footer">
        <div class="social-media">
            <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='assets/facebook.png') }}"
                    alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='assets/instagram.png') }}"
                    alt="Instagram"></a>
            <a href="https://x.com/home"><img src="{{ url_for('static', filename='assets/x.png') }}" alt="X"></a>
        </div>
        <div class="contact">
            <p>&copy; 2024 VolunteerVision. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="/src/static/js/script.js"></script>
</body>

</html>