<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="VolunteerVision Logo">
            <span class="company-name">VolunteerVision</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/registro">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="form-container">
            <div class="form-left">
                <h1>¿Qué te interesa?</h1>
                <form method="POST" action="{{ url_for('intereses') }}">
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Tecnología y educación digital"> Tecnología y
                        educación digital
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Jardinería"> Jardinería
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Reciclaje"> Reciclaje
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Contribuir a la comunidad"> Contribuir a la
                        comunidad
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Protección del medio ambiente"> Protección del
                        medio ambiente
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Animales"> Animales
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Educación"> Educación
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Salud"> Salud
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Deporte y recreación"> Deporte y recreación
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Trabajo con personas mayores"> Trabajo con personas
                        mayores
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Asistencia en desastres"> Asistencia en desastres
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Justicia Social"> Justicia Social
                    </label>
                    <label class="remember-me">
                        <input type="checkbox" name="interes" value="Construcción y renovación"> Construcción y
                        renovación
                    </label>

                    <p><a href="#">Mostrar más</a></p>

                    <button type="submit">Continuar</button>
                </form>

            </div>
            <div class="form-right">
                <img src="/static/assets/manos.png" alt="Hands around the world">
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="social-media">
            <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='assets/facebook.png') }}"
                    alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='assets/instagram.png') }}"
                    alt="Instagram"></a>
            <a href="https://x.com/home"><img src="{{ url_for('static', filename='assets/x.png') }}" alt="X"></a>
        </div>
        <div class="contact">
            <p>&copy; 2024 VolunteerVision. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="/src/static/js/script.js"></script>
</body>

</html>